@tailwind base;
@tailwind components;
@tailwind utilities;

.bg__primary {
  background-color: #ff4141;
}

.text__primary {
  color: #ff4141;
}

.border__primary {
  border-color: #ff4141;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
